<h1>Hello Viewer!</h1>
<br />
<h3>
  This particuar task is not how the front end looks rather it is to test my
  knowledge as a backend developer to see how I can create the following in the
  admin page:
</h3>
<br />
<p>Title : A string of maxlength 200, use Django’s models.CharField</p>
<br />
<p>Text : Any amount of text, use Django’s TextField</p>
<br />
<p>
  Author : A Foreign Key to the current user model. Make use of Django’s
  get_user_model function.
</p>
<br />
<p>Created_date : A date-time column, use Django’s models.DateTimeField.</p>
<br />
<p>Published_date : A date-time column, use Django’s models.DateTimeField.</p>
<br />

<style>
  p {
    font-family: monospace;
    font-size: large;
  }

  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }
</style>
